{{ "<!-- REGISTER -->" | safeHTML }}
<section id="register">
    <div class="container">
        <div class="row">
           	<div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.register.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <iframe src="//eventbrite.com/tickets-external?eid=27497377396&ref=etckt" frameborder="0" height="300" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
</section>



