{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><img class="cis-logo" src="img/cis-logo-white.png"></h1>
            <br />
            <h2>{{ with .Site.Params.hero.date }}{{ . | markdownify }}{{ end }}</h2>
            <h3>{{ with .Site.Params.hero.time }}{{ . | markdownify }}{{ end }}</h3>
            <h4>{{ with .Site.Params.hero.location }}{{ . | markdownify }}{{ end }}</h4>
            <hr class="light">
            <p>{{ with .Site.Params.hero.description }}{{ . | markdownify }}{{ end }}</p>
            <a href="#register" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
        </div>
    </div>
</header>
