{{ "<!-- info -->" | safeHTML }}
<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.info.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>
                    <a download href="{{ .Site.BaseURL }}{{ .Site.Params.info.agendaDownloadLink }}" class="page-scroll">{{ with .Site.Params.info.agendaDownloadDescription }}{{ . }}{{ end }}</a>
                </p>
                <p>
                    <a download href="{{ .Site.BaseURL }}{{ .Site.Params.info.speakersDownloadLink }}" class="page-scroll">{{ with .Site.Params.info.speakersDownloadDescription }}{{ . }}{{ end }}</a>
                </p>
            </div>
        </div>
    </div>
</section>