{{ "<!-- LIVESTREAM -->" | safeHTML }}
<section id="livestream">
    <div class="container">
        <div class="row">
           	<div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.livestream.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.livestream.description }}{{ . }}{{ end }}</p>
                <!-- BEGIN Embed Code -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="100%" src="{{ with .Site.Params.livestream.link }}{{ . }}{{ end }}" allowfullscreen></iframe>
                </div>
                <!-- END Embed Code -->
            </div>
        </div>
    </div>
</section>
