{{ "<!-- SPEAKERS -->" | safeHTML }}
<section class="bg-primary" id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.speakers.headline }}{{ . }}{{ end }}</h2>
                <hr class="light">
                <p>{{ with .Site.Params.speakers.description }}{{ . }}{{ end }}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ with .Site.Params.speakers }}
            <div>
                <a href="{{ .playlistLink }}" class="event-box event-link">
                    <img src="{{ .img }}" class="img-responsive img-centered" alt="{{ .description }}">
                    <div class="event-box-caption">
                        <div class="event-box-caption-content">
                            <div class="speaker-name">
                                {{ .headline }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
