{{ "<!-- SPEAKERS -->" | safeHTML }}
<section class="bg-primary" id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.speakers.headline }}{{ . }}{{ end }}</h2>
                <hr class="light">
                <p>{{ with .Site.Params.speakers.description }}{{ . }}{{ end }}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range .Site.Data.speakers }}
            <div>
                <a href="https://www.youtube.com/watch?v=AHhNpufqtp0&list=PL03_raMiJ1C3Te_uAFgT-L1h9n8n5JGVk&index=1" class="event-box event-link">
                    <img src="img/speakers/{{ .img }}" class="img-responsive img-centered" alt="">
                    <div class="event-box-caption">
                        <div class="event-box-caption-content">
                            <div class="speaker-name">
                                {{ .title }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
